papers
snapping_mechanism/implementation/data
snapping_mechanism/reading_group_presentation/*.png
**/*.aux
**/*.fdb_*
**/*.fls
**/*.log
**/*.out
**/*.nav
**/*.snm
**/*.toc
**/*.bbl
**/*.blg
**/*.synctex.gz
**/__pycache__/
